@use '@porsche-design-system/components-angular/styles' as *;

.header {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  @include pds-media-query-min('xs') {
    justify-content: space-between;
  }
}
