<p-heading size="large">Welcome friend!</p-heading>

<div class="stage">
  <p-link-tile
    class="link"
    description="Add todos for homework"
    label="Go to todos"
    routerLink="/todo"
  >
    <img [alt]="'Some image description'" [src]="'/lights.1124400a.jpg'" />
  </p-link-tile>

  <p-link-tile
    class="link"
    description="See table data"
    label="Go to table"
    routerLink="/table"
  >
    <img [alt]="'Some image description'" [src]="'/lights.1124400a.jpg'" />
  </p-link-tile>
</div>
